*{
    font: 12px sans-serif;
}

body{
    background-image: url("./imagens/FUNDO.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;

}

h1{
    font-size: 12px;
    

}

p{
    color: white;
}

.botao{
    width: 115px;
    height: 25px;
    background: #99cc41;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
/* seletor de hierarquia - seleciona o nav dentro do header */
header > nav{
    float: right;
}

header{
    height: 80px;
    margin-top:25px;
}

header > nav > a{
    padding: 25px 10px;
    text-decoration: none;
    color: black;
}

#logo{

}

section{
    text-align: center;
}



.logomarca{
    width: 30%;
}

section > figure {
    float: left;
}