*{
    font: 12px sans-serif;
}

h1{
    color: blue;
    font-size: 12px;
}

.botao{
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

header > nav{
    float: right;
}

